@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card card-outline p-3" style="box-shadow: none;">
    <div class="card-header" style="padding: 0;">
        <div class="row ">
            @* nút thêm User*@
            <div class="col-md-2 p-2">
                <a href="#" class="btn btn-primary " @*style="padding: 12px"*@ onclick="ShowAddUpdateTaiXe(null)"> Them Tài Xế</a>
            </div>
            <div class="card-body table-responsive p-0 " id="html_table_result">
            </div>
        </div>
        <div class="modal fade" id="addUpdateModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="btnAddNew">Thêm mới tài xế </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="html_result_detail_taixe">
                    </div>
                </div>
            </div>
        </div>
        @*        xóa   *@
        <div class="modal fade" id="deleteModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="btnAddNew">Xóa Tài Xế</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="html_result_detail_taixe">
                        <h3> Bạn có chắc muốn xóa tài xế này ?</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnSave" onclick="DeleteTaiXe()">xóa </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">
    window.onload = function () {
        GetListTaiXe();

    }
    function GetListTaiXe() {
        //     var PERPAGE = 20;
        //         var html_PERPAGE = $("#html_PERPAGE").val();
			//if (html_PERPAGE != null)
			//	PERPAGE = html_PERPAGE;
        //var data = { PAGE: PAGE, PERPAGE: PERPAGE }
        // bat loading
        var url = '@Url.Action("GetListTaiXe", "TaiXe")';
        $("#html_table_result").load(url, function () {
            // load xong lam gi
            // tat loading
        });


    }
    function ShowAddUpdateTaiXe(ID) {
        var data = { id: ID }
        var url = '@Url.Action("GetDetailTaiXe", "TaiXe")';
        $("#html_result_detail_taixe").load(url, data, function () {
            // load xong lam gi
            // tat loading
        })
        $('#addUpdateModal').modal({
            toggle: true, backdrop: 'static', keyboard: false
        });
    }
    function AddTaiXe() {
        var valdata = $("#frm_AddUpdateTaiXe").serialize();
            var _url = '@Url.Action("AddTaiXe", "TaiXe")';
            $.ajax({
                url: _url,
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata,
                beforeSend: function () {
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.ID == 0) {
                        $("#addUpdateModal").modal("hide");
                        GetListTaiXe();
                    }
                    else {
                    }
                },
                error: function (errormessage, status, xhr) {
                    alert('Error');
                }
            });
    }
    var m_ID;
    function ShowDelete(ID) {
        m_ID = ID;
        $('#deleteModal').modal({
            toggle: true, backdrop: 'static', keyboard: false
        });
    }
    function DeleteTaiXe() {
        var data = { id: m_ID };
            var _url = '@Url.Action("DeleteTaiXe", "TaiXe")';
        $.ajax({
            url: _url,
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            beforeSend: function () {
            },
            complete: function () {
            },
            success: function (data) {
                if (data.ID == 0) {
                    $("#deleteModal").modal("hide");
                    GetListTaiXe();
                }
                else {
                    // show loi o Text
                }
            },
            error: function (errormessage, status, xhr) {
                alert('Error');
            }
        })
    }

</script>

